body {
  background-color: lightblue;
}

title {

}

#pageHeading {
  font-family: "Arial", Arial, sans-serif;
  color: #gray;
}

.dataDiv {
  border-style: double;
  border-color: #1C6EDE;
  font-family: "Arial", Arial, sans-serif;
  color: #FFFFFF;
  max-width: 600px;
}

#tempDiv {
  background-color: #9E99F5;
}
#pressureDiv {
  background-color: #4D2282;
}
#humidityDiv {
  background-color: #5DE4DA;
}
#charContainer {
  height: 300px;
}
